@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Big+Shoulders+Display:wght@300&family=Istok+Web&family=Nunito&family=Overpass:wght@500&family=Rock+Salt&family=Rubik+80s+Fade&family=Six+Caps&family=Teko:wght@300&display=swap");
body {
  margin: 0;
}
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.r-svg-container {
  flex: 60%;
  background-image: url("../assets/backgrounds/Ellipse35.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.svg-container {
  width: 50%;
  height: 50%;
  background-image: url("../assets/logo/heroLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.l-form-container {
  flex: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.p-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.p-logo-text {
  font-family: "Istok Web";
  font-size: 3.5em;
  font-weight: bold;
}
.special {
  color: #de265e;
}
.l-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.l-form > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.form-in-common {
  margin-top: 2em;
  height: 3em;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fffafa;
}
.form-in-common::placeholder {
  color: #969191;
  font-family: Istok Web;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1em;
}
.l-btn {
  border-radius: 10px;
  border: 1px solid #000;
  background: #2525ad;
  color: #fff;
  font-weight: 700;
  margin-top: 4em;
}
.l-msg {
  margin-top: 1em;
  color: #2525ad;
  font-family: Istok Web;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.l-msg > span {
  font-weight: bold;
  text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .svg-container {
    width: 50%;
    height: 50%;
  }
  .p-logo > img {
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .login-container {
    flex-direction: column;
  }

  .r-svg-container {
    visibility: hidden;
  }
  .p-logo > img {
    width: 30%;
  }
  .l-form > form {
    width: 70%;
  }
  .login-container {
    margin-top: 10%;
  }
}
