.component_area {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    margin: 0;
}
.DicsussDIV{
    display: flex;
    justify-content: space-between;
    padding: 19px 50px 0 50px;
}